{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
    <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
    <p class="subtitle">Como o Post-it, mas com outro verbo</p>
    <form method="GET" action="/">
        <button class="home">
            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
            <div class="text-home">Home</div>
        </button>
    </form>
    <form method="GET" action="{% url 'show-category' %}">
        <button class="tags">
            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            <div class="text-tags">Categorias</div>
        </button>
    </form>
</div>

<form method="POST" class="form-card">
    {% csrf_token %}
    <input class="form-card-title" id="titulo" type="text" name="titulo" placeholder="Título" maxlength="42"/>
    <input class="form-card-category" id="categoria" type="text" name="categoria" placeholder="Categoria" maxlength="42"/>
    <textarea class="autoresize" id="detalhes" name="detalhes" placeholder="Digite o conteúdo..."></textarea>
    <button class="btn" type="submit">Criar</button>
</form>

<div class="card-container">
    {% for note in notes %}
    <div class="card">
        <div class="card-title">{{ note.title }}</div>
        <div class="card-content">
            <p id="detalhesEdit">{{ note.content }}</p>
        </div> 
        <div class="card-buttons">
            <button type="button" class="pencil edit" data-toggle="modal" data-target="#myModal" 
                onclick="salvaId('{{ note.id }}', '{{ note.title}}', '{{ note.content }}', '{{ note.category.name }}')" id="note_id">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <div class="card-category">{{ note.category.name }}</div>          
            <form method="POST">
                {% csrf_token %}
                <button type="submit" class="trash" formaction="{% url 'delete-note' note.id %}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </form>
        </div> 
    </div>
    {% endfor %}
</div>

<!-- Modal -->
<div id="edit" class="modal fade" role="dialog">
    <div class="modal-dialog" value="">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Editar</h4>
        </div>
        <form method="POST" class="form-card-modal">
            {% csrf_token %}
            <input class="form-card-title" id="tituloEdit" type="text" name="edit_titulo" placeholder="Título"/>
            <input class="form-card-title" id="categoryEdit" type="text" name="edit_categoria" placeholder="Categoria"/>
            <textarea class="autoresize edit-content" id="detalhesEdit" name="edit_detalhes" placeholder="Digite o conteúdo..."></textarea>
            <div class="modal-footer">
                <button id="editar" class="btn" type="submit">Salvar Alterações</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </form>
      </div>
    </div>
</div>


{% endblock %}




    